VITE_AUTH_TOKEN=eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiIzNTRmMzhlYTA0OTZkYjZlODZiNDQwMTc5Y2MwYTdkOCIsInN1YiI6IjY1OGM5MjNmY2QyMDQ2N2Y2OTEzYjcyZSIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.uqnZtBYsGMww82JxpFwmZUByqH9yv6Jrzq5ddtYRpkk